# .github/workflows/main.yml
name: Main workflow

on:
  push:
    branches:
      - main

jobs:
  frontend_tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up nodeJS
        # Это готовый воркфлоу для установки Node.js на раннер
        uses: actions/setup-node@v3
        with:
          # Это параметр воркфлоу, указывающий нужную версию Node.js
          node-version: 18

      - name: Install dependencies
        # Эта команда устанавливает зависимости для фронтенда
        run: |
          cd frontend/
          npm ci

      - name: Test frontend
        # Запускаем тесты
        run: |
          cd frontend/
          npm run test

  tests:
    # Разворачиваем окружение:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:13.10
        # Указываем имя тестовой базы, имя и пароль пользователя в открытом виде,
        # ведь эта база будет работать только во время прогона тестов
        env:
          POSTGRES_USER: django_user
          POSTGRES_PASSWORD: django_password
          POSTGRES_DB: django_db
        ports:
          - 5432:5432
        # Эта конструкция описывает проверку готовности сервиса postgres
        # Если её не будет, то тесты могут запуститься раньше, чем сервер PostgreSQL
        # В результате тесты опять решат, что базы нет, — и упадут
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.10

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8==6.0.0 flake8-isort==6.0.0
          pip install -r ./backend/requirements.txt
      # Этот шаг дополним переменными для доступа к БД
      - name: Test with flake8 and django tests
        # Добавляем env-переменные для доступа к БД
        env:
          POSTGRES_USER: django_user
          POSTGRES_PASSWORD: django_password
          POSTGRES_DB: django_db
          # Сервер БД запущен в Docker, но его порт проброшен на хост
          # Поэтому подключаемся к 127.0.0.1:5432
          DB_HOST: 127.0.0.1
          DB_PORT: 5432
        run: |
          python -m flake8 backend/
          cd backend/
          python manage.py test

  build_and_push_backtend_to_docker_hub:
    name: Push Backend Docker image to DockerHub
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push to DockerHub
        uses: docker/build-push-action@v6
        with:
          context: ./backend/
          push: true
          tags: tihdizer/kittygram-backend:latest

  build_and_push_gateway_to_docker_hub:
    name: Push Gateway Docker image to DockerHub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker
        # Авторизация на Docker Hub:
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push to DockerHub
        uses: docker/build-push-action@v6
        with:
          context: ./nginx/
          push: true
          tags: tihdizer/kittygram-nginx:latest

  build_and_push_frontend_to_docker_hub:
    name: Push Frontend Docker image to DockerHub
    runs-on: ubuntu-latest
    needs: frontend_tests
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push to DockerHub
        uses: docker/build-push-action@v6
        with:
          context: ./frontend/
          push: true
          tags: tihdizer/kittygram-frontend:latest
  deploy:
    runs-on: ubuntu-latest
    needs:
      # Дождёмся билда всех фронтенда, бэкенда и гейтвея:
      - build_and_push_backtend_to_docker_hub
      - build_and_push_gateway_to_docker_hub
      - build_and_push_frontend_to_docker_hub
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      # Копируем docker-compose.production.yml на продакшен-сервер:
      - name: Copy docker-compose.yml via ssh
        uses: appleboy/scp-action@v0.1.7
        # Передаём параметры для action appleboy/scp-action:
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_KEY }}
          source: "docker-compose.production.yml"
          target: "kittygram"
          # были проблемы что по таймауту не успевал подключиться
          use_insecure_cipher: true
          timeout: 60s
          command_timeout: 10m
      - name: Executing remote ssh commands to deploy
        uses: appleboy/ssh-action@master
        env:
          ENV_DATA: ${{ secrets.ENV }}
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_KEY }}
          envs: ENV_DATA
          script: |
            cd kittygram
            echo "$ENV_DATA" > .env
            # Выполняет pull образов с Docker Hub
            sudo docker compose -f docker-compose.production.yml pull
            # Перезапускает все контейнеры в Docker Compose
            sudo docker compose -f docker-compose.production.yml down
            sudo docker compose -f docker-compose.production.yml up -d
            # Выполняет миграции и сбор статики
            sudo docker compose -f docker-compose.production.yml exec backend python manage.py migrate
            sudo docker compose -f docker-compose.production.yml exec backend python manage.py collectstatic
            sudo docker compose -f docker-compose.production.yml exec backend cp -r /app/collected_static/. /backend_static/static/

  send_message:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - name: Send message
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: Деплой Kittygram успешно выполнен!
